.card-img-top {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.preview-button {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  text-align: center;
}

.img-preview-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-preview-button:hover .card-img-top {
  opacity: 0.3;
}

.img-preview-button:hover .preview-button {
  opacity: 1;
}

.albumButton {
  cursor: pointer;
}
